<!DOCTYPE html>
<html lang="{{english}}">
<head>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8"/>

    <meta name="author" content="Miroslav Vasić"/>
    <link rel="shortcut icon" href="/static/pyramid-16x16.png"/>

    <title>Page not found.</title>

     <!-- Custom styles for this scaffold -->
    <link href="/static/theme.css" rel="stylesheet" />

    {% include 'elements/analitics.jinja2' %}

</head>
<body>

<center>
    <div class="centered">
        <span>Error 404</span><br /><br />
        <span class="error">Sorry, but what you're looking for is not at this page!</span>
        <br /><br />
        <pre style="font: 2px/1px monospace;">
            MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMM                           MMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMM.                           MMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMM.................. . . . ..MMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMM.    ..   .                IMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMM.  . . . .   ..            MMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMM..................... . . .MMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMM...................... . ..MMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMM ....................... . MMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMM ......................... MMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMM...........................MMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMM..........................8MMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMM...........................MMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMM.............. ....... ...MMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMM.......................... MMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMM................. ........MMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMM. ................. .......MMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMM   ................. .... MMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMM..   ................. ....MMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MM  .   ................. . MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MM. ..  ................. MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MM. ..  ................?MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MM. .   .............. MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MM. .   .............$MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MM. .   ............MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MM. .   ..........DMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MM. .   .       .MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MM. .     . .. MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MM. .   .....,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MM.         MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MM.       8MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MM.     .MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MM. .  NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM8MMMMMMMM
MM.   MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MM..MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MM+MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
        </pre>
    </div>
</center>

</body>
</html>