<h2 class="section-title">Code Examples</h2>
<p>
  All code examples from the book can be downloaded here. Unzip and open it as InlliJ project.
  <br />
  <a href="/api/redirect/code/" target="_blank" class="btn btn-big dark-blue-bordered-btn btn-buy-secondary-content" title="Download code examples">Download ZIP</a>
</p>
<p class="text-info">
  * To be able to run project with book code examples please follow <strong><a href="https://kotlinlang.org/docs/tutorials/getting-started.html" title="Setup your IntelliJ Idea for Kotlin development" target="_blank">official IntelliJ Kotlin setup guide</a></strong>.
</p>
