<div id="social">
  {% include 'html/social/social.jinja2' %}
</div>
<h2 class="main-title text-center dark-blue-text">
  What is Kotlin?
</h2>
<p>
  Kotlin is new programming language running on Java Virtual Machine, Android or browser. It is statically typed language and it can be compiled to JavaScript source code (running on browsers).
  <br /><br />
  Kotlin is:
  <br />
  <ul>
    <li>
      - Concise, drastically reduced code boilerplate
    </li>
    <li>
      - Safe, impossible to get an NullPointerException
    </li>
    <li>
      - Versatile, it is general-purpose programming language
    </li>
    <li>
      - Interoperable, we can use existing JVM libs and frameworks.
    </li>
  </ul>
  A team at JetBrains (creators of IntelliJ Idea) developed Kotlin, an OSS language with an army of external contributors.
  <br /><br />
  Kotlin’s benefits over Java are:
  <br /><br />
  <ul>
    <li>
      - It is Java-compatible language
    </li>
    <li>
      - It compiles at least as fast as Java,
    </li>
    <li>
      - It is safer than Java
    </li>
    <li>
      - It is more concise than Java
    </li>
    <li>
      - Reduces codebase significantly when compared to the same code written in Java
    </li>
  </ul>
  Kotlin is OSS language licensed under Apache 2 OSS License.
</p>
