{% set path_captcha = static_url + 'images/captcha/' %}
<h2 class="section-title">Contact Author</h2>
<div id="contact">
    <form class="contact-form" id="contact_form">
        <a href="mailto:office@milosvasic.net" class="btn btn-big dark-blue-bordered-btn btn-buy" name="submit" title="Send message to us.">
          Email author
        </a>
    </form>
</div>