<ul class="social list-inline">
  <li>
    <a href="/api/redirect/social/facebook" title="Fundamental Kotlin on Facebook." target="_blank">
      <img src="{{ static_url }}images/social/facebook.png" alt="Facebook"></img>
    </a>
    <a href="/api/redirect/social/twitter" title="Fundamental Kotlin on Twitter." target="_blank">
      <img src="{{ static_url }}images/social/twitter.png" alt="Twitter"></img>
    </a>
    <a href="/api/redirect/social/tumblr" title="Fundamental Kotlin on Tumblr." target="_blank">
      <img src="{{ static_url }}images/social/tumblr.png" alt="Tumblr"></img>
    </a>
    <a href="/api/redirect/social/google" title="Fundamental Kotlin on Google+." target="_blank">
      <img src="{{ static_url }}images/social/google_plus.png" alt="Google+"></img>
    </a>
    <a href="/api/redirect/social/instagram" title="Fundamental Kotlin on Instagram." target="_blank">
      <img src="{{ static_url }}images/social/instagram.png" alt="Instagram"></img>
    </a>
    <a href="/api/redirect/social/linkedin" title="Author's Linkedin profile." target="_blank">
      <img src="{{ static_url }}images/social/linkedin.png" alt="Linkedin"></img>
    </a>
    <a href="/api/redirect/social/xing" title="Author's Xing profile." target="_blank">
      <img src="{{ static_url }}images/social/xing.png" alt="Xing"></img>
    </a>
    <!--
    <a href="/api/redirect/social/pinterest" title="Author's Pinterest profile." target="_blank">
      <img src="{{ static_url }}images/social/pinterest.png" alt="Pinterest"></img>
    </a>
    -->
    <a href="/api/redirect/social/goodreads" title="Fundamental Kotlin on Goodreads." target="_blank">
      <img src="{{ static_url }}images/social/goodreads.png" alt="Goodreads"></img>
    </a>
    <!--
    <a href="javascript:contact();" title="Contact us." target="_blank">
      <img src="{{ static_url }}images/social/email.png" alt="Email"></img>
    </a>
    -->
  </li>
</ul>
<!--
<script>
  function contact(){
    $('html, body').animate({
      scrollTop: $("section#contact").offset().top - 35
    }, 800, function(){
      // window.location.hash = hash;
    });
  }
</script>
-->
