<link rel="shortcut icon" href="/assets/favicon.ico"/>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{ static_url }}css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<script src="{{ static_url }}js/jquery.min.js"></script>
<script src="{{ static_url }}js/bootstrap.min.js"></script>
<script src="{{ static_url }}js/jquery.singlePageNav.min.js"></script>