<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8"/>
<meta name="google-site-verification" content="3m6LSKIt4KB5tOdoNojU3vpEPprn2Kj86QD7VhLzJg4" />
<meta name="yandex-verification" content="aca57950ab36c01c" />
<meta name="msvalidate.01" content="14E90C947633231E08568B8695D817E7" />
<meta name="identifier" content="{{ configuration.shared.isbn }}" scheme="ISBN">