<h2 class="section-title">Purchase Fundamental Kotlin Ebook</h2>
<p>
  <i><strong>NOTE:</strong> We will email you your book copy as we receive your payment.<br />Book will be emailed to email address used in your payment.</i>
  <ul class="buy-holder">
    <li>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="GP6F23K4ZJG2S">
      <a href="javascript:void(0);" onclick="$(this).closest('form').submit()" class="btn btn-big dark-blue-bordered-btn btn-buy" name="submit" title="Purchase Fundamental Kotlin for Amazon Kindle.">
        Amazon Kindle: 10€
      </a>
      </form>
    </li>
    <li>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="WF2LT4YG7ERZE">
      <a href="javascript:void(0);" onclick="$(this).closest('form').submit()" class="btn btn-big dark-red-bordered-btn btn-buy" name="submit" title="Purchase Fundamental Kotlin in EPUB format.">
        EPUB: 10€
      </a>
      </form>
    </li>
    <li>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="PHL3HSKKKJ9PC">
      <a href="javascript:void(0);" onclick="$(this).closest('form').submit()" class="btn btn-big dark-green-bordered-btn btn-buy" name="submit" title="Purchase Fundamental Kotlin in MOBI format.">
        Mobi: 10€
      </a>
      </form>
    </li>
  </ul>
  <br />
</p>
<h2 class="section-title-no-margin-bottom">Available in the following stores:</h2>
<p>
    <ul class="buy-holder">
        <li>
            <a href="https://www.amazon.com/Fundamental-Kotlin-2nd-Everything-About-ebook/dp/B07G4DLKBC" target="_blank" class="btn btn-big dark-blue-bordered-btn btn-buy" title="Fundamental Kotlin on Amazon Kindle">Amazon Kindle</a>
        </li>
        <li>
            <a href="https://itunes.apple.com/us/book/fundamental-kotlin-2nd-edition/id1416931771" target="_blank" class="btn btn-big dark-red-bordered-btn btn-buy" title="Fundamental Kotlin on Apple iBooks">Apple iBooks</a>
        </li>
        <li>
            <a href="https://www.barnesandnoble.com/w/fundamental-kotlin-2nd-edition-milos-vasic/1129181809?ean=9788692030710" target="_blank" class="btn btn-big dark-green-bordered-btn btn-buy" title="Fundamental Kotlin on Nook">Nook</a>
        </li>
        <li>
            <a href="https://www.kobo.com/ww/en/ebook/fundamental-kotlin-2nd-edition-everything-you-need-to-know-about-kotlin" target="_blank" class="btn btn-big grey-bordered-btn btn-buy" title="Fundamental Kotlin on Kobo">Kobo</a>
        </li>
        <!-- TODO: New link. -->
        <li>
            <a href="https://www.scribd.com/book/327908711/Fundamental-Kotlin" target="_blank" class="btn btn-big dark-blue-bordered-btn btn-buy" title="Fundamental Kotlin on Scribd">Scribd</a>
        </li>
        <li>
            <a href="http://www.lulu.com/shop/milo%C5%A1-vasi%C4%87/fundamental-kotlin-2nd-edition-everything-you-need-to-know-about-kotlin/ebook/product-23732495.html" target="_blank" class="btn btn-big dark-red-bordered-btn btn-buy" title="Fundamental Kotlin on Lulu.com">Lulu</a>
        </li>
        <li>
            <a href="https://www.smashwords.com/books/view/885596" target="_blank" class="btn btn-big dark-green-bordered-btn btn-buy" title="Fundamental Kotlin on Smashwords.com">Smashwords</a>
        </li>
        <li>
            <a href="https://www.smashwords.com/books/byseries/35624" target="_blank" class="btn btn-big dark-green-bordered-btn btn-buy" title="Fundamental Kotlin series on Smashwords.com">Smashwords Series</a>
        </li>
    </ul>
    <i>* Book may be available in more stores</i>
</p>
