<h2 class="section-title">Purchase Fundamental Kotlin Ebook</h2>
<p>
  <i><strong>NOTE:</strong> We will email you your book copy as we receive your payment.<br />Book will be emailed to email address used in your payment.</i>
  <ul class="buy-holder">
    <li>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="GP6F23K4ZJG2S">
      <a href="javascript:void(0);" onclick="$(this).closest('form').submit()" class="btn btn-big dark-blue-bordered-btn btn-buy" name="submit" title="Purchase Fundamental Kotlin for Amazon Kindle.">
        Amazon Kindle: 10€
      </a>
      </form>
    </li>
    <li>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="WF2LT4YG7ERZE">
      <a href="javascript:void(0);" onclick="$(this).closest('form').submit()" class="btn btn-big dark-red-bordered-btn btn-buy" name="submit" title="Purchase Fundamental Kotlin in EPUB format.">
        EPUB: 10€
      </a>
      </form>
    </li>
    <li>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="PHL3HSKKKJ9PC">
      <a href="javascript:void(0);" onclick="$(this).closest('form').submit()" class="btn btn-big dark-green-bordered-btn btn-buy" name="submit" title="Purchase Fundamental Kotlin in MOBI format.">
        Mobi: 10€
      </a>
      </form>
    </li>
    <li>
      <a href="javascript:void(0);" class="btn btn-big grey-bordered-btn btn-buy" title="Purchase and install Fundamental Kotlin as Android application.">
        Android APK: coming soon
      </a>
    </li>
  </ul>
  <i>* More formats are coming!</i>
</p>
<h2 class="section-title-no-margin-bottom">Available in the following stores:</h2>
<p>
    <ul class="buy-holder">
        <li>
            <a href="https://www.amazon.com/Fundamental-Kotlin-Milo%C5%A1-Vasi%C4%87-ebook/dp/B01MDNL056/" target="_blank" class="btn btn-big dark-blue-bordered-btn btn-buy" title="Fundamental Kotlin on Amazon Kindle">Amazon Kindle</a>
        </li>
        <li>
            <a href="https://itunes.apple.com/us/book/fundamental-kotlin/id1162906651" target="_blank" class="btn btn-big dark-red-bordered-btn btn-buy" title="Fundamental Kotlin on Apple iBooks">Apple iBooks</a>
        </li>
        <li>
            <a href="http://www.barnesandnoble.com/w/fundamental-kotlin-milo-vasic/1124829543?ean=9788692030703" target="_blank" class="btn btn-big dark-green-bordered-btn btn-buy" title="Fundamental Kotlin on Nook">Nook</a>
        </li>
        <li>
            <a href="https://store.kobobooks.com/en-us/ebook/fundamental-kotlin" target="_blank" class="btn btn-big grey-bordered-btn btn-buy" title="Fundamental Kotlin on Kobo">Kobo</a>
        </li>
        <li>
            <a href="https://www.scribd.com/book/327908711/Fundamental-Kotlin" target="_blank" class="btn btn-big dark-blue-bordered-btn btn-buy" title="Fundamental Kotlin on Scribd">Scribd</a>
        </li>
        <li>
            <a href="http://www.lulu.com/shop/milo%C5%A1-vasi%C4%87/fundamental-kotlin/ebook/product-22890969.html" target="_blank" class="btn btn-big dark-red-bordered-btn btn-buy" title="Fundamental Kotlin on Lulu.com">Lulu</a>
        </li>
        <li>
            <a href="https://www.smashwords.com/books/view/672922" target="_blank" class="btn btn-big dark-green-bordered-btn btn-buy" title="Fundamental Kotlin on Smashwords.com">Smashwords</a>
        </li>
        <li>
            <a href="http://www.inktera.com/store/title/5004c7cb-986c-4923-9acf-573769003b3b" target="_blank" class="btn btn-big grey-bordered-btn btn-buy" title="Fundamental Kotlin on Inktera">Inktera</a>
        </li>
    </ul>
    <i>* Book may be available in more stores</i>
</p>
