<h2 class="section-title">About the Author</h2>
<p class="about-text">
Miloš Vasić is a software engineer from Belgrade, Serbia.
He is passionate about software development and ways to make it better.
When Miloš is not on regular projects, he is spending time learning and investigating new technologies.
</p>
